{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>CarCompare</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script> var imgSrc = "{% static 'img/placeholder-image.jpg' %}"; </script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/aux_functions.js' %}"></script>
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="">Home</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
            <!-- Search form -->
            <div class="search-container">
                <form role="form" method="POST" id="search_form">
                    {% csrf_token %}
                    <!-- {{ form.as_p }} -->
                    <div class="form-inline">
                        <input
                            class="form-control"
                            type="text"
                            id="search_input"
                            name="search_input"
                            placeholder="Search..."
                            autofocus=""
                            required
                        />
                        <button class="ml-3 btn btn-primary"  type="submit" id="search_btn" name="search_btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- FOLLOWING IS A SPECIAL CONTAINER THAT CONSISTS OF THE FILTER FORM -->
        <!-- START OF FILTER FORM -->
        <div class="container mb-5 mt-5">
            <p>
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Filters
                </button>
            </p>

            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <form id="filterData">
                        <div class="form-inline">
                            <label class="mr-2">Price Range: </label>
                            <input type= "text" class="form-control mr-2" id="minPrice" placeholder="Min">
                            <input type= "text" class="form-control" id="maxPrice" placeholder="Max">
                        </div>
                        <div class="form-inline mt-2">
                            <label class="mr-2">Model Range: </label>
                            <input type= "text" class="form-control mr-2" id="minModel" placeholder="Min">
                            <input type= "text" class="form-control" id="maxModel" placeholder="Max">
                        </div>
                        <div class="form-inline mt-2">
                            <label class="mr-2">Mileage: </label>
                            <input type= "text" class="form-control mr-2" id="maxMileage" placeholder="Max">
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">
                            Search
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- END OF FILTER FORM   -->
        
        <!-- FOLLOWING IS A SPECIAL DIV TO INSERT THE LOADING ANIMATION -->
        <!-- START OF LOAD ANIMATION -->
        <div id="load-animation">

        </div>
        <!-- END OF LOAD ANIMATION -->
        <div class="container">
            <div class="row" id="main-content">

            </div>
        </div>
        
    </body>
</html>
